<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Курсовая работа Ершова А.О. Веб сервер: {{ ansible_hostname }}</title>
</head>
<body>
    <h1>Системные характеристики сервера</h1>
    <p><b>Сервер:</b> {{ ansible_hostname }} | <b>Внешний IP:</b> {{ ansible_host }}</p>

    <ul>
        <li><b>CPU:</b> {{ ansible_processor_vcpus }} vCPU</li>
        <li><b>RAM:</b> {{ ansible_memtotal_mb }} MB</li>
        <li><b>Внутренний IP:</b> {{ ansible_default_ipv4.address }}</li>
    </ul>
</body>
</html>
