<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Характеристики хоста {{ ansible_hostname }}</title>
</head>
<body>
    <h1>Системные характеристики сервера</h1>
    <ul>
        <li><b>CPU:</b> {{ ansible_processor_vcpus }} vCPU</li>
        <li><b>RAM:</b> {{ ansible_memtotal_mb }} MB</li>
        <li><b>Первый HDD (sda):</b> {{ ansible_devices.sda.size }}</li>
        <li><b>IP-адрес:</b> {{ ansible_default_ipv4.address }}</li>
    </ul>
</body>
</html>