[defaults]
inventory = ~/git/Netology_labs/monitoring/prometheus/inventory.ini
log_path = ~/git/Netology_labs/monitoring/prometheus/ansible.log
playbook_dir = ~/git/Netology_labs/monitoring/prometheus/playbook.yml