[defaults]
inventory = ~/git/Netology_labs/fault_tolerance/lab2/inventory.ini
log_path = ~/git/Netology_labs/fault_tolerance/lab2/ansible.log
playbook_dir = ~/git/Netology_labs/fault_tolerance/lab2/playbook.yml