[defaults]
inventory = ~/git/Netology_labs/monitoring/zabbix/lab1/inventory.ini
log_path = ~/git/Netology_labs/monitoring/zabbix/lab1/ansible.log
playbook_dir = ~/git/Netology_labs/monitoring/zabbix/lab1/playbool.yml