[defaults]
inventory = ~/git/Netology_labs/data_storage/lab4/inventory.ini
log_path = ~/git/Netology_labs/data_storage/lab4/ansible.log
playbook_dir = ~/git/Netology_labs/data_storage/lab4/playbook.yml