[defaults]
inventory = ~/git/Netology_labs/fault_tolerance/lab1/inventory.ini
log_path = ~/git/Netology_labs/fault_tolerance/lab1/ansible.log
playbook_dir = ~/git/Netology_labs/fault_tolerance/lab1/playbook.yml