[defaults]
inventory = /home/alex/git/Netology_labs/kursovoy/hosts.ini
log_path = /home/alex/git/Netology_labs/kursovoy/ansible.log


# указываю пользователя для подключения к удаленным хостам и путь к приватному ключу для аутентификации
remote_user = user
private_key_file = ~/.ssh/id_ed25519
host_key_checking = False
