[defaults]
inventory = /home/alex/git/Netology_labs/kursovoy/hosts.ini
log_path = /home/alex/git/Netology_labs/kursovoy/ansible.log


# указываю пользователя для подключения к удаленным хостам и путь к приватному ключу для аутентификации
remote_user = user
private_key_file = ~/.ssh/id_ed25519
host_key_checking = False
[ssh_connection]
# ControlMaster=auto - При первом подключении к удаленному хосту OpenSSH создает единый мастер-процесс и открывает управляющий сокет. Все последующие SSH-сессии к этому же хосту не устанавливают новое TCP-соединение и не проходят заново процедуру рукопожатия, авторизации по ключу — они просто пробрасывают свой трафик через уже существующий мастер-сокет
# ControlPersist=60m Время жизни мастер-сокета, что бы каждый раз не создавать новый тунель ускоряет работу с ssh через бастион
# StrictHostKeyChecking=no - убирает окно приветствия при первом подключени ssh
# UserKnownHostsFile=/dev/null - Не сохраняет ssh ключи ~/.ssh/known_hosts, а сразу отправляет в /dev/null
ssh_args = -o ControlMaster=auto -o ControlPersist=60m -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null